.g_f_content{
	padding: 50px 0;
	background-color: #626262;
}

.grid{
	margin: 10px 0;
	min-height: 100px;
	background-color: teal;
	color: white;
	font-size: 40px;
}

.color2{
	background-color: #5F9EA0;
}

.color1{
	background-color: #800000;
}

.color3{
	background-color: #87CEEB;
}

.box{
	margin: 5px 0;
	min-height: 100px;
	background-color: red;
	color: white;
	font-size: 30px;
}

.f{
	background-color: #B22222;
}

.n{
	background-color: #FF6347;
}